@keyframes bounce{
	0% {transform: translateY(0);}
	25%  {transform: translateY(-50px) translateX(10px) rotate(5deg);}
	50%   {transform: translateY(0);}
	75%  {transform: translateY(-50px) translateX(-10px) rotate(-5deg);}
	100%   {transform: translateY(0);}
}

body{
	background: #44a08d;
	background: linear-gradient(90deg,#44a08d 0%, #093637 100%);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

#logo{
	padding:100px 0;
	width:100vw;
	height:200px;
	box-sizing: content-box;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
}

#logo img{
	height:100%;
	width:auto;
	animation: bounce 2s ease infinite;
}

.text{
	transform: rotate(-10deg);
	font-size:20px;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.text p:first-child{
	font-size: 100px;
}

.text p{
	margin:-15px 0;
}

#container{
	width:50%;
}

#game{
	text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);
	font-size:80px;
}

#timer {
	display:flex;
	justify-content:center;
	align-items:center;
	background: black;
}

#timer div{
	padding:20px 10px;
	font-size:50px;
	color:white;
	background: black;
}

.head{
	background-color: #1f1f1f;
}

.hidden{
	display:none !important;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
}

.ui.button{
	margin:10px !important;
}